@import "../../../../theme/variables.scss";
@import "../../Landing.scss";

.section-step {
  background-color: #f6f7f9;
}

.step {
  position: relative;
  overflow: visible;
  text-align: center;
  max-width: 500px;
  background: transparent;
}
.test {
  width: 800px;
  background: #000;
  height: 10px;
}

.step-header {
  margin-top: 33px;
  font-weight: 500;
}

.canvas-arrow-wrap {
  position: relative;
  height: 100px;
  line-height: 100px;
  width: 100px;
  margin: auto;
  transform: rotate(90deg);
  z-index: 1;

  &.inverted {
    transform: rotateX(180deg) rotateZ(-90deg);
  }
}

@media (min-width: 900px) {
  .canvas-arrow-wrap {
    position: absolute;
    left: calc(50% + 95px);
    width: calc(100% - 190px);
    top: 85px;
    height: auto;
    transform: translateY(-100%);

    &.inverted {
      top: 85px;
      transform: rotateX(180deg);
    }
  }
}
