.gbContainer {
  background-color: #131311;
}
.bg-404 {
  background-image: url("./intelligent-404-pages.jpg");
  min-height: 404px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
